@charset "UTF-8";
.title{
	    /*width: 50px;*/
   
       
    width: 760px;
    margin: auto;
    /* position: fixed; */
    /* left: 50%; */
    /* right: 50%; 
    height: 84px;*/
}
.title1{
	    /*width: 50px;*/
   
       
        position: absolute;
    top: 0px;
    right: 180px;
	width:150px;
    
    /* position: fixed; */
    /* left: 50%; */
    /* right: 50%; */
    
}
.title_tab{
	       /* width: 50px; */
    /* margin: auto; */
    position: absolute;
    margin-top: -50px;
    /* left: 50%; */
}
.myTab_sub1_ul{
	    left: -40px;
	width:223px;
	height:65px;
	background: url(../img/head/cd.png) no-repeat center center;
}
.leftpanel{
	    width: 400px;
    position: absolute;
    top: 50px;
    background: black;
    bottom: 0px;
    left: 0px;
}
.navbar_cus{
	border: 0px;
}
.leftpanel_up_navbar{
	    position: absolute;
    right: 0px;
    left: 0px;
    background: url(../img/leftpanel_up/leftpanelup_title.png) no-repeat center center;
}
.leftpanel_down_navbar{
	    position: absolute;
    right: 0px;
    left: 0px;
    background: url(../img/leftpanel_down/leftpaneldown_title.png) no-repeat center center;
}
.rightpanel_navbar_0{
	 position: absolute;
    right: 0px;
    left: 0px;
    background: url(../img/rightpanel_0/rightpanel_0_title.png) no-repeat center center;
}
.rightpanel_navbar_1{
	 position: absolute;
    right: 0px;
    left: 0px;
    background: url(../img/rightpanel_1/rightpanel_1_title.png) no-repeat center center;
}
.rightpanel_navbar_2{
	 position: absolute;
    right: 0px;
    left: 0px;
    background: url(../img/rightpanel_2/rightpanel_2_title.png) no-repeat center center;
}
.assist_panel_navbar{
	position: absolute;
    right: 0px;
    left: 0px;
    /*background: url(../img/标题.png) no-repeat left center;*/
}
.assist_panel_navbar_0{
	background: url(../img/assistpanel/pc-2_03.png) no-repeat left center;
}
.assist_panel_navbar_1{
	background: url(../img/assistpanel/pc-2_05.png) no-repeat left center;
}
.assist_panel_navbar_2{
	background: url(../img/assistpanel/pc-2_07.png) no-repeat left center;
}
.assist_panel_navbar_3{
	background: url(../img/assistpanel/pc-2_09.png) no-repeat left center;
}

.assist_panel_navbar_4{
	background: url(../img/assistpanel/pc-2_19.png) no-repeat left center;
}
.assist_panel_navbar_5{
	background: url(../img/assistpanel/pc-2_20.png) no-repeat left center;
}
.assist_panel_navbar_6{
	background: url(../img/assistpanel/pc-2_21.png) no-repeat left center;
}
.assist_panel_navbar_7{
	background: url(../img/assistpanel/pc-2_22.png) no-repeat left center;
}

.leftpanel_up_0{
	background: url(../img/leftpanel_up/1.png) no-repeat center center;
}
.leftpanel_up_1{
	background: url(../img/leftpanel_up/2.png) no-repeat center center;
}
.leftpanel_up_2{
	background: url(../img/leftpanel_up/3.png) no-repeat center center;
}
.leftpanel_up_3{
	background: url(../img/leftpanel_up/4.png) no-repeat center center;
}
.leftpanel_up_4{
	background: url(../img/leftpanel_up/5.png) no-repeat center center;
}
.leftpanel_down_0{
	background: url(../img/leftpanel_down/1a.png) no-repeat center center;
}
.leftpanel_down_1{
	background: url(../img/leftpanel_down/2a.png) no-repeat center center;
}
.leftpanel_down_2{
	background: url(../img/leftpanel_down/3a.png) no-repeat center center;
}
.leftpanel_down_3{
	background: url(../img/leftpanel_down/daohang.png) no-repeat right center;
}
.rightpanel_0_0{
	background: url(../img/rightpanel_0/001.png) no-repeat center center;
}
.rightpanel_0_1{
	background: url(../img/rightpanel_0/002.png) no-repeat center center;
}
.rightpanel_0_2{
	background: url(../img/rightpanel_0/003.png) no-repeat center center;
}
.rightpanel_0_3{
	background: url(../img/rightpanel_0/004.png) no-repeat center center;
}
.rightpanel_1{
	background: url(../img/rightpanel_1/content.png) no-repeat center center;
}
.rightpanel_2{
	background: url(../img/rightpanel_2/0031.png) no-repeat center center;
}
.headbar{
	background: url(../img/head/di2.jpg) no-repeat center center;
}
.middlepanel0{
    position: absolute;
    left:0px;
    right: 0px;
    top: 50px;
    bottom: 0px;
    background: #000;
    
}
.middlepanel{
    position: absolute;
    left:0px;
    right: 0px;
    top: 60px;
    bottom: 0px;
    background: #808000;
    
}
.middlepanel_0{
       position: relative;
    /* position: absolute; */
    width: 100%;
    height: 100%;
    /* left: 400px; */
    /* right: 400px; */
    /* top: 50px; */
    
    background: #000;
    
}
.assist_panel_group0{
    position: absolute;
    top: 110px;
    left: 10px;
}
.assist_panel_group1{
	    position: absolute;
    top: 10px;
    right: 10px;
}
.assist_panel_group2{
	    position: absolute;
    top: 10px;
    right: 40px;
}
.bottom_s_panel2 {
    color: #838681;
    width: 100%;
    /*height: 10rem;*/
    position: absolute;
    bottom: 0rem;
    text-align: center;
}
.assist_panel_group3{
	    position: absolute;
    top: 340px;
    right: 490px;
    display:none;
}
.assist_panel_group4{
	    position: absolute;
    top: 300px;
    left: 690px;
    display: none;
}
.middlepanel_1{
	    position: absolute;
    top: 10px;
    left: 10px;
    /* display: none; */
    /* position: relative; */
    /*width: 150px;
    height: 100px;
    background: wheat;*/
    color: white;
    z-index: 100;
}
.middlepanel_2{
	
    bottom: 100px;
    position: absolute;
    /* display: none; */
    /* position: relative; */
    width: 100px;
    height: 150px;
    /*background: wheat;*/
    z-index: 101;
    
}
.middlepanel_3{
	    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
    /* left: 100px; */
    /* right: -100px; */
    background: #000;
    z-index: 101;
}
.wu_menu{
	    /* left: 100px;
    bottom: 100px; 
    top: -200px;*/
}
/*
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0d2d5c !important;
    outline: 0;
}*/
.dropdown-header_cus{
	color: white;
    font-size: 15px;
    font-weight: bold;
}
.dropdown-header_cus>ul{
	    background-color: #0d2d5c;
}
.dropdown-header_cus>li>a{
	color: white;
    font-size: 15px;
    font-weight: bold;
}
.menuitem_cus{
        background-color: #0d2d5c;
    text-align: center;
    color: white !important;
}
.dropdown-submenu_a{
	color: white !important;
    font-size: 15px;
    font-weight: bold !important;
    text-align: center;
}
.dropdown-submenu_a:hover{
    background-color: #0080ff!important;
    
}
.menuitem_cus:hover{
    background-color: #0080ff!important;
    
}
.rightpanel{
	/*display:none;*/
    position: absolute;
    right: 0px;
    top: 50px;
       margin-top: 20px;
    /*background: black;*/
    width: auto;
}
#myTab>li{
	height:37px;
	width:150px;
}
#myTab>li>a{
	height:37px;
	width:150px;
}
#myTab1>a{
	background: url(../img/head/top_3.png) no-repeat left center;
}
#myTab1.active>a{
	background: url(../img/head/top_03.png) no-repeat left center;
}
#myTab2>a{
	background: url(../img/head/top_5.png) no-repeat left center;
}
#myTab2.active>a{
	background: url(../img/head/top_05.png) no-repeat left center;
}
#myTab3>a{
	background: url(../img/head/top_7.png) no-repeat left center;
}
#myTab3.active>a{
	background: url(../img/head/top_07.png) no-repeat left center;
}
#myTab4>a{
	background: url(../img/head/top_9.png) no-repeat left center;
}
#myTab4.active>a{
	background: url(../img/head/top_09.png) no-repeat left center;
}
#myTab_sub>li>a{
	height:37px;
	width:150px;
}
#myTab_sub1>a{
	background: url(../img/head/ddzx.png) no-repeat left center;
}
#myTab_sub1.active>a{
	background: url(../img/head/ddzx2.png) no-repeat left center;
}
#assist_panel
{
	    z-index: 200;
	display:none;
position: absolute;
    top: 60px;
    bottom: 0px;
    width: 100%;
    background-color: #000;}
.assist_panel_rowHeight{
	height:100%;
}
#assist_panel_0_0{
	/*height:expression();
	width:*/
}
#assist_panel_0_1{
	 
	/*height:expression(function(el){el.css("width", (window.innerWidth-200)/4*0.67).css("height", (window.innerHeight-200)/(2*3)); }(this)); 
	/*height:expression((window.innerHeight-200)/(2*3)+"px");
	width:expression((window.innerWidth-200)/4*0.67+"px");*/
}
.assist_panel_0_0_0{
	height:30px;width:100%;position: absolute;top: 0px;right: 0px;text-align: left;color: white;
}
.assist_panel_0_0_1{
	/* height: 50px; *//* height:100%; */width:100%;/* margin: auto; *//* margin: 0 auto; */position: absolute;top: 30px;bottom: 30px;right: 0px;
}
.assist_panel_0_0_2{
	position: absolute;bottom: 10px;height:20px;width:100%;right: 0px;
	background: url(../img/label0.png) no-repeat left center;
}
.assist_panel_1{
	background: url(../img/assistpanel/pc-2_12.png) no-repeat left center;
}
.assist_panel_2{
	background: url(../img/assistpanel/pc-2_13.png) no-repeat left center;
}
.assist_panel_3{
	background: url(../img/assistpanel/pc-2_14.png) no-repeat left center;
}
.assist_panel_4{
	background: url(../img/assistpanel/pc-2_23.png) no-repeat left center;
}
.assist_panel_5{
	background: url(../img/assistpanel/pc-2_24.png) no-repeat left center;
}
.assist_panel_6{
	background: url(../img/assistpanel/pc-2_25.png) no-repeat left center;
}
.assist_panel_7{
	background: url(../img/assistpanel/pc-2_26.png) no-repeat left center;
}
.png1{    height: 662px;
    width: 1108px;
    float: left;
    /* margin-right: 5px; */
    margin-top: 20px;
    margin-left: 10px;}
.png1_1{
	    cursor: pointer;
    width: 350px;
    height: 330px;
    position: absolute;
    top: 350px;
    left: 370px;
    /* bottom: 0px; */
    background: rgba(0, 0, 0, 0);
}
.png2{    width: 788px;
    height: 662px;
    /* float: left; */
    /* margin-right: 15px; */
    /* margin-left: 100px; */
    margin-top: 20px;
    position: absolute;
    top: 0px;
    right: 7px;
    }
.png2_1{    height: 662px;
    width: 780px;}
.png2_2{
	    position: absolute;
    top: 130px;
    left: 130px;
    display:none;
}
.panel2_info{
	position: absolute;
    top: 130px;
    left: 130px;
    display:none;
}
.png2_3{
	    position: absolute;
    /* top: 0px; */
    bottom: 10px;
    left: 10px;
}
.png2_4{
	    position: absolute;
    top: 50px;
    left: 20px;
}
.png3{    height: 331px;
    width: 676px;
    float:left;
    margin-right: 12px;
   }
.png4{    
 		float:left;
 		margin-top:13px;
 		
}

.png5{       height: 331px;
    width: 181px;
    float: right;
    margin-right: 12px;
    margin-top: 13px;
   }
.png3_1{float: left;    }
.png3_2{float: left;    }
.png3_3{    position: absolute;
    /* z-index: 1000; */
    bottom: 0px;
    left: 50%;}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}